# De los datos del IMSS:

- Adecuar los "headers" para que sean cortos y significativos. ✅
- Rellenar datos en caso de ser necesario.
- Mostrar graficas con las matrices de correlación, gráficas de barras y transformaciones tipo logarítmicas (sólo sí es necesario)
- Generar una tabla con estadística descriptiva.
- Estandarizar los datos
- Analizar, si es posible generar nuevas columnas con "ratios de variables"
- Hacer el proceso con Pipelines
- Predecir el número de pacientes que llegan a hospitalización a partir de admisión y terapia intensiva mediante regresión lineal.


>Entregar un pequeño reporte con los pasos realizados y las gráficas y tablas obtenidas. Agregar su código. Todo se agrega en un archivo .zip

# Paso I
Cargar los datos desde google drive

In [19]:
# Install google-colab package
import pandas as pd

try:
    from google.colab import drive  # type: ignore
    drive.mount('/content/drive')
    file_path = '/content/drive/My Drive/Colab Notebooks/data/datos_reorganizados.csv'  # Ajusta la ruta
except ImportError:
    file_path = 'datos_reorganizados.csv'

In [20]:

df = pd.read_csv(file_path)

# Mostrar las primeras filas
df.head()

,año,mes,Numero de pacientes que ingresan a Admision Hospitalaria,Numero de personas con ingreso de admision contínua a Hospital,Numero de personas con ingreso de admision urgencias a terapia,Numero de pacientes en alta de admision,Defunciones en Terapias,Pacientes de terapia a Hospital,Defunciones en Urgencias,Egresos Hospitalarios,Defunciones Hospitalarias,Intervenciones quirúrgicas,uso de tiempo quirurgico fin de semana en horas,uso de tiempo quirurgico dias habiles en horas
0,2018,ENERO,1813,10,50,1601,6,58,50,1089,70,815,336,3168
1,2018,FEBRERO,861,67,35,1505,20,50,35,1070,81,864,420,2880
2,2018,MARZO,713,2,43,1481,11,61,43,926,53,865,336,2736
3,2018,ABRIL,1369,5,32,1694,8,68,32,994,48,891,336,3024
4,2018,MAYO,1322,13,54,1629,16,50,54,879,48,883,336,2880

# Paso II
Vamos a adecuar los headers

In [21]:
# rename headers:
""" 
Header 0 : año -> anio
Header 1 : mes -> mes
Header 2 : Numero de pacientes que ingresan a Admision Hospitalaria -> numero_pacientes_admision_hospitalaria
Header 3 : Numero de personas con ingreso de admision contínua a Hospital -> numero_pacientes_admision_continua
Header 4 : Numero de personas con ingreso de admision urgencias a terapia -> numero_pacientes_admision_urgencias
Header 5 : Numero de pacientes en alta de admision -> numero_pacientes_alta_admision
Header 6 : Defunciones en Terapias -> defunciones_terapia
Header 7 : Pacientes de terapia a Hospital -> pacientes_terapia_hospital
Header 8 : Defunciones en Urgencias -> defunciones_urgencias
Header 9 : Egresos Hospitalarios -> egresos_hospitalarios
Header 10 : Defunciones Hospitalarias -> defunciones_hospitalarias
Header 11 : Intervenciones quirúrgicas -> intervenciones_quirogicas
Header 12 : uso de tiempo quirurgico fin de semana en horas -> uso_tiempo_quirogico_fin_semana_horas
header 13: uso de tiempo quirurgico dias habiles en horas -> uso_tiempo_quirogico_dias_habiles_horas
"""
# renombrar las columnas
df.rename(columns={
    'año': 'anio',
    'mes': 'mes',
    'Numero de pacientes que ingresan a Admision Hospitalaria': 'numero_pacientes_admision_hospitalaria',
    'Numero de personas con ingreso de admision contínua a Hospital': 'numero_pacientes_admision_continua',
    'Numero de personas con ingreso de admision urgencias  a terapia': 'numero_pacientes_admision_urgencias',
    'Numero de pacientes en alta  de admision ': 'numero_pacientes_alta_admision',
    'Defunciones en Terapias': 'defunciones_terapia',
    'Pacientes de terapia a Hospital': 'pacientes_terapia_hospital',
    'Defunciones en Urgencias ': 'defunciones_urgencias',
    'Egresos Hospitalarios': 'egresos_hospitalarios',
    'Defunciones Hospitalarias': 'defunciones_hospitalarias',
    'Intervenciones quirúrgicas': 'intervenciones_quirogicas',
    'uso de tiempo quirurgico fin de semana en horas': 'uso_tiempo_quirogico_fin_semana_horas',
    'uso de tiempo quirurgico dias habiles en horas': 'uso_tiempo_quirogico_dias_habiles_horas'
}, inplace=True)
# Mostrar las primeras filas
df.head()

,anio,mes,numero_pacientes_admision_hospitalaria,numero_pacientes_admision_continua,numero_pacientes_admision_urgencias,numero_pacientes_alta_admision,defunciones_terapia,pacientes_terapia_hospital,defunciones_urgencias,egresos_hospitalarios,defunciones_hospitalarias,intervenciones_quirogicas,uso_tiempo_quirogico_fin_semana_horas,uso_tiempo_quirogico_dias_habiles_horas
0,2018,ENERO,1813,10,50,1601,6,58,50,1089,70,815,336,3168
1,2018,FEBRERO,861,67,35,1505,20,50,35,1070,81,864,420,2880
2,2018,MARZO,713,2,43,1481,11,61,43,926,53,865,336,2736
3,2018,ABRIL,1369,5,32,1694,8,68,32,994,48,891,336,3024
4,2018,MAYO,1322,13,54,1629,16,50,54,879,48,883,336,2880